<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.bughub.plugin.fltbdface">

    <!-- 权限级别: normal -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 权限级别: dangerous -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 需要使用Feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".face.FaceLivenessExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle"/>

        <activity android:name=".face.CollectionSuccessExpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />
    </application>
</manifest>
